@import url('index.css');

.content form .input-label {
	font-weight: bold;
	color: var(--brown-color);
	text-transform: capitalize;
}

.content form button {
	text-transform: capitalize;
	margin-right: 10px;
}

@media (max-width: 576px) {
	.content .input-form .form-element {
		margin-bottom: 20px;
	}

	.content .input-form .form-btn {
		text-align: center;
	}
}
