@import url('index.css');

/*Start style content*/

.content .product-list {
	min-height: 100px;
}

.content .product-list table th, td {
	text-transform: capitalize;
}

.content .product-list table td img {
	width: 90px;
  height: 150px;
}

.content .product-list table td .delete-icon {
	cursor: pointer;
}

.content .product-list .add-new-button {
	float: right;
}

@media (max-width: 576px) {
	.content .product-list .add-new-block {
		text-align: center;
	}

	.content .product-list .add-new-block .add-new-button {
		float: none;
	}
}
